body {
  overflow-y: scroll;
  background-color: #27AE60;
  font-weight: 300;
  color: #FFF;
  font-size: 16px;
}
h1 {
  font-size: 120px;
}
img {
  width: 500px;
  margin: 40px auto;
}
.gbtns {
  padding: 40px 0 40px 0;
}